
<app-nav></app-nav>

<div class="container ">
  <div class="Box">
     <div class="row text-center divcalc"  >
    <div class="col-6">
      <p>Enter the data</p>
      <label for="inputnumber" class="col-form-label X²">X²</label>
      <input type="number"  class="col-form-label text-center A"  name="A" id="A" [(ngModel)]="A" required  autofocus>
      <br>
      <label for="inputnumber" class="col-form-label Coeficientes">X</label>
      <input type="number" class="col-form-label text-center" name="B" id="A" [(ngModel)]="B" required  autofocus>
      <br>
      <label for="inputnumber" class="col-form-label Coeficientes">C</label>
      <input type="number" class="col-form-label text-center" name="C" id="A" [(ngModel)]="C" required  autofocus>
     <br>
     <button type="submit"class="btn btn-lg btn-primary btn-block calc " (click)="calcular()">calculate</button>

    </div>
  <div class="col-6">

    <div class="divraiz">
      <p class="raiz">Raiz 1 -> {{resultado}}</p>
    <p class="raiz">Raiz 2 -> {{resultado2}}</p>
    <p class="raiz">delta -> {{deltar}}</p>
    </div>

  </div>

  </div>

  </div>

</div>
