/* Box Principal */
.Box{
padding-top: 10%;
}

/* Label */
.X²{
    padding-right: 5px;
}
.Coeficientes{
    padding-right: 10px;
}

/* input */
.A{
    margin-right: 1px;
}

/* Botão */

.calc{
  margin-left: 17px;
  margin-top: 5px;
  border: 0;
  box-shadow: 2px 2px 0 1px rgb(0, 0, 0);
  transition: box-shadow 0.3s ease , transform 0.3s;

}
.calc:active{
  box-shadow: 0 0 0 0 rgb(0, 0, 0) , inset 3px 3px 3px rgb(0, 0, 0);
  transform: translate(3px,3px);
}

/* Reposta */

.raiz{
  font-size: 15px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.divraiz{
  width: 50px;
  height: 20px;
  margin-top: 20px;
}

/* calculo */

.divcalc{
  padding-left: 20%;
  padding-right: 10%;
}
